/* styles.css */
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333; /* Background color of the menu bar */
}

.menu-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px; /* Adjust the height as needed */
}

.menu-bar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.menu-bar li {
    margin: 0 20px; /* Adjust the spacing between menu items */
}

.menu-bar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}

/* Style for hover effect */
.menu-bar a:hover {
    text-decoration: underline;
}



#video-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Place the video behind other content */
}

.text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

h1 {
    font-size: 2rem;
}

p {
    font-size: 1.2rem;
}
