/* styles.css */
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

/* Customize the appearance of the language selector */



.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333; /* Background color of the menu bar */
}

.menu li {
    display: inline; /* Display items horizontally */
}

.menu li a {
    #display: block;
    color: white; /* Text color for menu items */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #555; /* Background color when hovering */
}



#video-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Place the video behind other content */
}

.text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

h1 {
    font-size: 2rem;
}

p {
    font-size: 1.2rem;
}
