/* Reset default margin and padding */
body, ul {
    margin: 0;
    padding: 0;
}

/* Define the header and navigation styles */
header {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
}

.menu {
    list-style: none;
    display: flex;
}

.menu li {
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: #fff;
}

/* Mobile menu styles */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
}

/* Video container styles */
.video-container {
    position: relative;
    overflow: hidden;
}

.background-video {
    #width: 100%;
    height: auto;
    object-fit: cover;
}

.video-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.video-content h1 {
    font-size: 24px;
}

.video-content p {
    font-size: 18px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .menu-toggle {
        display: flex;
    }

    .menu {
        display: none;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
    }

    .menu.active {
        display: flex;
    }
}
